*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header
{
    background-color: #141414;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 100%;
    border-style: groove;
    border-color: gray;
    border-width: 0px 0px 1px 0px;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: #141414;
}

.nav-barre
{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.pagetitre h1
{
    color: white;
    text-shadow: 2px 2px 6px #003369;
    display: flex;
    text-align: center;
    font-family: 'Audiowide';
    justify-content: center;
}

h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3px;
}

h3 span{
    transition: 0.1s;
}

.profile 
{
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
}

#usernameDisplay
{
    text-shadow: 3px 1px 6px pink;
}

#pp 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container
{
    height: calc(100vh - 130px);
}

.second-container
{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.user
{
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: white;
    border-style: groove;
    border-color: gray;
    border-width: 1px 2px 2px 0px;
}

.user-container 
{
    display: flex;
    padding: 20px;
    width: 200px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.chat-container 
{
    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-style: groove;
    border-color: gray;
    border-width: 1px 0px 2px 1px;
}

.chat 
{
    height: 90%;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
.chat::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
.chat::-webkit-scrollbar-track {
    background: transparent;
}

.user-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
.user-list::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
.user-list::-webkit-scrollbar-track {
    background: transparent;
}

.chat p 
{
    margin: 5px 0;
}

#itemSend
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

#itemPP
{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: aqua;
}

#itemUser
{
    font-size: 18px;
}
#itemContent
{
    color: whitesmoke;
}

.chat-send
{
    margin-left: 20px;
    margin-right: 20px;
}

.user-list 
{
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    width: 200px;
    overflow-y: scroll;
}
.user-list h2 
{
    text-align: center;
    margin-top: 0;
}

.user-list ul 
{
    list-style: none;
    padding: 0;
}

form 
{
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#usernameDisplay
{
    color: white;
}

#usernameDisplay:hover
{
    color: red;
    font-size: 24px;
}

.notification 
{
    color: #c50000;
    font-weight: bold;
}

.online-button
{
    visibility: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 110px;
    left: 0;
    border-radius: 10px;
    background-color: rgb(98, 96, 96);
    z-index: 10;
    background: none;
    border: none;
}

.online-button i {
    color: white;
    transition: 0.3s;
}

.online-button:hover
{
    height: 31px;
    width: 31px;
    border: 1px solid white;
}

#userList li {
    display: flex;
    align-items: center;
}

#userList li span {
    width: 8px;
    height: 8px;
    background-color: greenyellow;
    border-radius: 50%;
    margin-right: 8px;
}

.sender
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    width: 100%;
}

input[type="text"], input[type="password"], input[type="submit"] 
{
    width: 100%;
    border: none;
    outline: none;
    font-size: 12pt;
}

.toggleBtn
{
    margin-left: 2px;
    margin-right: 5px;
    background-color: #c50000;
    color: white;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
}

.toggleBtn:active
{
    background-color: white;
    color: black;
}

.toggleBtn:hover
{
    font-weight: bold;
}

.sendButton
{
    background-color: #c50000;
    color: white;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 45%;
    border: 2px solid black;
}

.sendButton:active
{
    background-color: white;
    color: black;
}
.sendButton:hover
{
   font-size: 24px;
}

.activeListUser {
    left: 0 !important;
    width: 100%;
    transition: 0.2s;
}

@media screen and (max-width: 600px){
    .user {
        position: absolute;
        left: -1050px;
        top: 0;
        height: 100%;
        transition: 0.2s;
    }
}

@media only screen and (max-width: 600px) 
{
    header
    {   
        flex-direction: column;
    }

    .nav-barre
    {
        display: flex;  
        flex-direction: column;
        left: 0;
        right: inherit;
        margin-left: 10px;
    }
    .profile
    {
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
    }   

    .online-button
    {
        visibility: visible;
        position: absolute;
        right: 10px;
        top: 50px;
        left: inherit;
    }

    .pagetitre h1
    {
        font-size: 18px;
    }   

    .second-container
    {
        flex-direction: column;
    }

    .user-container
    {
        width: 100%;
    }

    .user-list 
    {
        width: 100%;
    }
}