*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header
{
    background-color: #141414;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 100%;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: #141414;
}

.nav-barre
{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagetitre h1
{
    color: white;
    text-shadow: 2px 2px 6px #003369;
    display: flex;
    text-align: center;
    font-family: 'Audiowide';
    justify-content: center;
}

h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile 
{
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#usernameDisplay
{
    text-shadow: 3px 1px 6px pink;
}

.profile img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container
{
    height: calc(100vh - 100px);
}

.second-container
{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.user
{
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: white;
}

.user-container 
{
    display: flex;
    padding: 20px;
    width: 200px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.chat-container 
{
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.chat 
{
    height: 90%;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
.chat::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
.chat::-webkit-scrollbar-track {
    background: transparent;
}

.user-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
.user-list::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
.user-list::-webkit-scrollbar-track {
    background: transparent;
}

.chat p 
{
    margin: 5px 0;
}

.chat-send
{
    margin-left: 20px;
    margin-right: 20px;
}

.user-list 
{
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    width: 200px;
    overflow-y: scroll;
}
.user-list h2 
{
    text-align: center;
    margin-top: 0;
}

.user-list ul 
{
    list-style: none;
    padding: 0;
}

form 
{
    height: 10%;
}

#usernameDisplay
{
    color: white;
}

#usernameDisplay:hover
{
    color: red;
    font-size: 24px;
}

.notification 
{
    color: #E91E63;
    font-weight: bold;
}

button
{
    visibility: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.online-button
{
    position: absolute;
    top: 110px;
    left: 0;
    border-radius: 10px;
    background-color: rgb(98, 96, 96);
}

.online-button:hover
{
    height: 31px;
    width: 31px;
    background-color: pink;
}

#userList li {
    display: flex;
    align-items: center;
}

#userList li span {
    width: 8px;
    height: 8px;
    background-color: greenyellow;
    border-radius: 50%;
    margin-right: 8px;
}


input[type="text"], input[type="password"], input[type="submit"] 
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] 
{
    background-color: #E91E63;
    color: white;
    cursor: pointer;
}


@media only screen and (max-width: 600px) 
{
    header
    {   
        flex-direction: column;
    }

    .nav-barre
    {
        display: flex;  
        flex-direction: column;
        left: 0;
        right: inherit;
    }
    .profile
    {
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
    }   
    
    button
    {
        visibility: visible;
    }

    .online-button
    {
        position: absolute;
        right: 10px;
        top: 50px;
        left: inherit;
    }

    .pagetitre h1
    {
        font-size: 18px;
    }   

    .second-container
    {
        flex-direction: column;
    }
}