*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url('image/font.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1
{
    margin-bottom: 20px;
    background-color: white;
    color: black;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
}

.loginTitle::after
{
    content: "";
    position: absolute;
    top: 0;
    right: 95px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 white;
}

.loginTitle::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 95px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 white;
}

.inscriptionTitle::after
{
    content: "";
    position: absolute;
    top: 0;
    right: 53px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 white;
}

.inscriptionTitle::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 52.2px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 white;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.login-register-box 
{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 350px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 0px 20px 20px 20px;
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 100px black;
}

.login
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inscription
{
    display: none;
    flex-direction: column;
    align-items: center;
}

.hidden 
{
    opacity: 0;
    transform: scale(0.50);
    pointer-events: none;
}

form
{
    display: flex;
    flex-direction: column;
    width: 250px;
} 

label
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.label
{
    width: 80px;
    height: 15px;
    position: relative;
    top: 7px;
    left: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 0px 4px 0px 4px;
    color: black;
    text-align: center;
}

.input-field
{
    width: 100%;
    font-size: 12px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    padding: 8px;
}

.input-field:hover
{
    border: 2px solid black;
}

.choix-sex
{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: -20px;
}

.choix-sex-label
{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.choix-sex label
{
    margin-top: -20px;
}

.choix-sex p
{
    margin-bottom: 30px;
}

.choixPerso
{
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    margin-left: 5px;
    width: 120px;
    padding: 1px;
    text-align: center;
}

.choixPerso:hover
{
    border: 2px solid black;
}

.btn-login
{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid white;
    margin-left: 5px;
}

.btn-login:hover
{
    border: 2px solid darkred;
}

.btn-login:active
{
    background-color: gray;
}

.change
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.input-submit
{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 290px;
    height: 50px;
    background-color: darkred;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 40px;
}

.input-submit:hover
{
    border: 2px solid darkred;
}

.input-submit:active
{
    background-color: white;
    color: darkred;
}

h2
{
    font-size: 40px;
}

.remember-forgot 
{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    margin-top: 30px;
}

.forgetMdp a:visited
{
    color: white;
}

.forgetMdp a:hover
{
    color: red;
}
 
.remember-me
{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 70px;
}
#remember
{
    margin-right: 4px;
    width: 13px;
}

.pass_word
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 109.1%;
}

.bp-visible, .bp-visible2
{
    position: relative;
    top: 10.5px;
    right: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
}

.inputPassword
{
    width: 100%;    
}


@media only screen and (max-width: 600px) 
{
    .login-register-box
    {
        width: 500px;
    }

    form
    {
        width: 400px;
    }

    .label
    {
        width: 100px;
        height: 20px;
        border-radius: 15px;
        font-size: 19px;
    }

    h1 
    {
        font-size: 45px;
    }

    .choix-sex, .change, .input-field
    {
        font-size: 20px;
    }

    .pass_word
    {
        width: 106%;
    }

    .bp-visible, .bp-visible2
    {
        top: 14px;
    }

    .remember-forgot
    {
        font-size: 20px;
        margin-top: 30px;
    }

    .forgetMdp
    {
        margin-left: 30px;
    }

    .loginTitle::after, .loginTitle::before
    {
        right: 156px;
    }

    .loginTitle::before
    {
        left: 156px;
    }

    .inscriptionTitle::after
    {
        right: 97px;
    }

    .inscriptionTitle::before
    {
        left: 97px;
    }
}